.hck-form .hck-input:not([type="submit"]):not([type="file"]):not([type="radio"]):not([type="checkbox"]):not([type="color"]):not([type="range"]), .hck-form .hck-input select, .hck-form .hck-input textarea {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  border: 1px solid var(--color-light-grey);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.hck-form .hck-input[type="radio"], .hck-form .hck-input[type="checkbox"] {
  display: none;
}

.hck-form .hck-input textarea {
  min-height: 80px;
}

.hck-form .hck-input-mixed {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.hck-form .hck-input-mixed.hck-input-header::before {
  display: inline-flex;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  background-color: var(--color-light-grey);
  position: relative;
  content: attr(data-head-label);
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.hck-form .hck-input-mixed.hck-input-header .hck-input {
  border-left: 0 !important;
}

.hck-form .hck-input-mixed.hck-input-footer::after {
  display: inline-flex;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  background-color: var(--color-light-grey);
  position: relative;
  content: attr(data-footer-label);
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.hck-form .hck-input-mixed.hck-input-footer .hck-input {
  border-right: 0 !important;
}

.hck-form .hck-input-mixed .hck-input {
  width: 100%;
  flex: 0 1 auto;
}
